*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Montserrat", sans-serif;
    /* text-transform: capitalize; */
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F8F7F4;
}

header{
    top: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    background: #F8F7F4;
    /* box-shadow: 0 5px 10px rgba(0,0,0,.1); */
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    color: black;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 15px;
    font-weight: 500;
    padding: 15px;
    color: #333;
    display: block;
    border-bottom: 3px solid transparent;
}

header .navbar ul li a:hover{
    border-bottom: solid #333;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: rgb(222, 222, 222);
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

/* layer1 */
.layer1{
    display: flex;
    justify-content: left;
    padding-top: 100px;
}

.layer1 .container1 img{
    padding-top: 20px;
    padding-left: 200px;
    width: 170px;
}

.layer1 .container2 h1{
    padding-left: 250px;
    font-size: 60px;
    padding-bottom: 20px;
}

.layer1 .container2 p{
    justify-content: left;
    text-align: justify;
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    padding: 30px 320px 0 50px;
    line-height: 40px; 
}

/* layer 2 */
.layer2{
    padding-bottom: 100px;
    padding-left: 480px;
}

.layer2 .container1{
    display: flex;
    padding-left: 20px;
    border: solid rgb(101, 96, 96);
    border-width: 1px;
    border-radius: 20px;
    max-width: 780px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 0 2px 16px 0 rgb(0, 0, 0, 0.1);
}

.layer2 .container1 .left{
    width: 300px;
}

.layer2 .container1 .left:hover img{
    transform: scale(1.1);
}

.layer2 .container1 .left img{
    width: 160px;
    padding-top: 45px;
}
.layer2 .container1 .left h2{
    text-align: center;
    margin-top: 20px;
}

.layer2 .container1 .right{
    width: auto;
    align-items: center;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

.layer2 .container1 .right p{
    text-align: justify;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.layer2 .container1 .right p a{
    color: #333;
    text-decoration: none;
}

.layer2 .container1 .right p a:hover{
    color: red;
    border-bottom: 1px solid red;
}

.layer2 .container2{
    display: flex;
    padding-left: 30px;
    border: solid rgb(101, 96, 96);
    border-width: 1px;
    border-radius: 20px;
    max-width: 780px;
    height: 320px;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 0 2px 16px 0 rgb(0, 0, 0, 0.2);
}

.layer2 .container2 .left{
    width: 300px;
}

.layer2 .container2 .left:hover img{
    transform: scale(1.1);
}

.layer2 .container2 .left img{
    width: 160px;
    padding-top: 60px;
}
.layer2 .container2 .left h2{
    text-align: center;
    margin-top: 20px;
}

.layer2 .container2 .right{
    width: auto;
    align-items: center;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 40px;
}

.layer2 .container2 .right p{
    text-align: justify;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.layer2 .container2 .right p a{
    color: #333;
    text-decoration: none;
}

.layer2 .container2 .right p a:hover{
    color: red;
    border-bottom: 1px solid red;
}

.layer2 .container3{
    display: flex;
    padding-left: 30px;
    border: solid rgb(101, 96, 96);
    border-width: 1px;
    border-radius: 20px;
    max-width: 780px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 0 2px 16px 0 rgb(0, 0, 0, 0.2);
}

.layer2 .container3 .left{
    width: 300px;
}

.layer2 .container3 .left:hover img{
    transform: scale(1.1);
}

.layer2 .container3 .left img{
    width: 160px;
    padding-top: 35px;
}
.layer2 .container3 .left h2{
    text-align: center;
    margin-top: 20px;
}

.layer2 .container3 .right{
    width: auto;
    align-items: center;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 40px;
}

.layer2 .container3 .right p{
    text-align: justify;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.layer2 .container3 .right p a{
    color: #333;
    text-decoration: none;
}

.layer2 .container3 .right p a:hover{
    color: red;
    border-bottom: 1px solid red;
}

/* footer */
.hr4{
    size: 1%;
    color: #ababab;
}

.footer{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}